@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  display: flex;
  justify-content: center;
  background-color: black;
} */

main {
  max-width: 393px;
  min-height: 100vh;
  background-color: white;
}

.text-green-400 {
  color: rgba(9, 118, 89, 1);
}

.text-grey-600 {
  color: rgba(44, 45, 43, 1);
}

.bg-grey-100 {
  background-color: rgba(223, 226, 219, 1);
}

.bg-red {
  background-color: rgba(223, 27, 79, 1);
}