@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

main {
  width: 393px;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

.text-green-400 {
  color: rgba(9, 118, 89, 1);
}

.text-grey-600 {
  color: rgba(44, 45, 43, 1);
}

.bg-grey-100 {
  background-color: rgba(223, 226, 219, 1);
}

.bg-red {
  background-color: rgba(223, 27, 79, 1);
}

.searchInput {
  background: url("/masakin/public/icon_search.png") no-repeat left center;
  background-position: 10px 10px;
}